﻿<span class="col-lg-3">Shoppping cart</span>
<div class="table-responsive">
    <table class="table table-hover table-bordered table-responsive">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Cost</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: orders">
        <tr>
            <td>
                <img class="scalable-image" data-bind="attr: { src: product.image.binaryData }" alt="N\A" />
            </td>
            <td data-bind="text: product.name"></td>
            <td data-bind="text: product.description"></td>
            <td data-bind="text: product.categoryName"></td>
            <td data-bind="text: product.cost"></td>
            <td>
                <input type="number" data-bind="value: amount" min="0" step="5" required/>
            </td>
        </tr>
    </tbody>
</table>
</div>

<span class="col-lg-offset-9 col-lg-3">Total cost: <span data-bind="text: totalCost"></span></span>