﻿<div class="table-responsive">
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Parent category</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: categories">
            <tr>
                <td data-bind="text: name"></td>
                <td data-bind="text: parentId ? parentCategory.name : ''"></td>
                <td data-bind="text: description"></td>
                <td>
                    <button type="button" class="btn btn-default" data-bind="click: $parent.edit.bind($parent, $data)">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="glyphicon-class">Edit</span>
                    </button>
                    <button type="button" class="btn btn-default" data-bind="click: $parent.delete.bind($parent, $data)">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span class="glyphicon-class">Delete</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<button type="button" class="btn btn-default" data-bind="click: add">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    <span class="glyphicon-class">Add</span>
</button>
