﻿<form class="form-horizontal" data-bind="submit: saveCommand">
    <span>Category</span>

    <div class="popup-input form-group" data-toggle="tooltip" data-trigger="focus" title="Category Name">
        <input class="form-control" type="text" data-bind="value: name" placeholder="Name" required="" />
    </div>

    <div class="popup-input form-group" data-toggle="tooltip" data-trigger="focus" title="Category Description">
        <textarea class="form-control" placeholder="Description" data-bind="value: description" required>Description</textarea>
    </div>

    <div class="popup-input form-group">
        <span class="col-lg-4 control-label align-left no-horizontal-padding">Parent category:</span>
        <div class="col-lg-8 no-padding" data-toggle="tooltip" data-trigger="focus" title="Parent Category">
            <select class="form-control" name="categories" data-bind="options: topMostCategories, optionsText: 'name', optionsValue: 'id', optionsCaption: 'None', value: parentCategoryId"></select>
        </div>
    </div>

    <div class="popup-input">
        <button type="submit" class="btn btn-default">Save</button>
        <button type="button" class="btn btn-default" data-bind="click: cancelCommand">Cancel</button>
    </div>
</form>
