﻿<div class="col-lg-4 no-horizontal-padding">
            <img id="image" src="img/no-image.png" class="scalable-image" data-bind="attrWithDefault: { name: 'src', value: imageSource, default: 'img/no-image.png' }" alt="N\A" />
        </div>
<div class="col-lg-offset-1">
    <button type="button" class="btn btn-default" data-bind="click: function () { $('#image-upload-input').click(); }">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Upload
    </button>
    <input type="file" accept=".png" id="image-upload-input" data-bind="event: { change: function () { upload($element.files[0]); } }"/>
</div>