﻿<div class="table-responsive">
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Cost</th>
                <th>Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: products">
            <tr>
                <td>
                    <img class="scalable-image" data-bind="attr: { src: image.binaryData }" alt="N\A" />
                </td>
                <td data-bind="text: name"></td>
                <td data-bind="text: description"></td>
                <td data-bind="text: categoryName"></td>
                <td data-bind="text: cost"></td>
                <td data-bind="text: totalAmount"></td>
                <td>
                    <button type="button" class="btn btn-default" data-bind="click: $parent.edit.bind($parent, $data)">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="glyphicon-class">Edit</span>
                    </button>
                    <button type="button" class="btn btn-default" data-bind="click: $parent.delete.bind($parent, $data)">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span class="glyphicon-class">Delete</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<button type="button" class="btn btn-default" data-bind="click: add">
    <span class="glyphicon glyphicon-plus"></span>
    <span class="glyphicon-class">Add</span>
</button>
