﻿<form class="form-horizontal" data-bind="submit: saveCommand">

    <span>Product</span>

    <!-- ko with: imageUploadViewModel -->
    <div class="popup-input form-group" data-bind="template: template ">
    </div>
    <!-- /ko -->

    <div class="popup-input form-group" data-toggle="tooltip" data-trigger="focus" title="Product Name">
        <input class="form-control" type="text" data-bind="value: name" placeholder="Name" required/>
    </div>

    <div class="popup-input form-group" data-toggle="tooltip" data-trigger="focus" title="Product Description">
        <textarea class="form-control" data-bind="value: description" placeholder="Description" required>Description</textarea>
    </div>

    <div class="popup-input form-group">
        <span class="col-lg-4 control-label align-left no-horizontal-padding">Category:</span>
        <div class="col-lg-8 no-padding" data-toggle="tooltip" data-trigger="focus" title="Product Category">
            <select class="form-control" name="categories" data-bind="options: topMostCategories, optionsCaption: 'None', optionsText: 'name', optionsValue: 'id', value: topMostCategoryId" required></select>
        </div>
    </div>

    <div class="popup-input form-group">
        <span class="col-lg-4 control-label align-left no-horizontal-padding">Sub Category:</span>
        <div class="col-lg-8 no-padding" data-toggle="tooltip" data-trigger="focus" title="Product Sub Category">
            <select class="form-control" data-bind="options: subCategories, optionsCaption: 'None', optionsText: 'name', optionsValue:'id', value: subCategoryId" required></select>
        </div>
    </div>

    <div class="popup-input form-group" data-toggle="tooltip" data-trigger="focus" title="Product Cost">
        <input class="form-control" name="cost" type="number" placeholder="Cost" data-bind="value: cost" min="1" required />
    </div>

    <div class="form-group popup-input" data-toggle="tooltip" data-trigger="focus" title="Product Amount">
        <input class="form-control" type="number" placeholder="Amount" data-bind="value: amount" min="1" required />
    </div>

    <div class="popup-input">
        <button type="submit" class="btn btn-default" >Save</button>
        <button type="button" class="btn btn-default" data-bind="click: cancelCommand">Cancel</button>
    </div>

</form>