﻿<div class="row">
    <div class="col-lg-4">
        <div class="input-group">
            <span class="input-group-addon">Select category:</span>
            <select class="form-control dropdown" data-bind="options: topMostCategories, optionsText: 'name', optionsCaption: 'None', value: selectedCategory"></select>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="input-group">
            <span class="input-group-addon">Select sub category:</span>
            <select class="form-control dropdown" data-bind="options: subCategories, optionsText: 'name', optionsCaption: 'None', value: selectedSubCategory"></select>
        </div>
    </div>
    <div class="col-lg-2 col-lg-offset-1">
        <button class="form-control btn-default" data-bind="click: filter">Apply filter</button>
    </div>
</div>