﻿<div class="row">
    <span class="col-lg-offset-10 col-lg-2">
        <a href="#cart">
            <img src="img/cart.png" alt="Cart" /><span data-bind="text: cartCount"></span> product(s)</a>
    </span>
</div>
<div class="table-responsive">
    <table class="table table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Cost</th>
                <th>Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: filteredProducts">
            <tr>
                <td>
                    <img class="scalable-image" data-bind="attr: { src: image.binaryData }" alt="N\A" />
                </td>
                <td data-bind="text: name"></td>
                <td data-bind="text: description"></td>
                <td data-bind="text: categoryName"></td>
                <td data-bind="text: cost"></td>
                <td data-bind="text: totalAmount"></td>
                <td>
                    <button type="button" class="btn btn-default" data-bind="click: $parent.addToCart.bind($parent, $data)">Add to cart</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
