﻿.scalable-image {
    max-width: 100px;
    height: auto;
}

.popup {
    padding: 50px;
    background-color: #f5f5f5;
    border-radius: 6px;
}

#product .popup {
    width: 500px;
    margin-left: -250px;
    height: 700px;
    margin-top: -350px;
}

    #product .popup .validationMessage {
        color: #8b0000;
        position: relative;
        left: 100%;
        top: -20px;
    }

#category .popup {
    width: 500px;
    margin-left: -250px;
    height: 400px;
    margin-top: -200px;
}

    #category .popup .validationMessage {
        color: #8b0000;
    }

.popup-input {
    margin: 20px 20px;
}

th, td, .align-center {
    text-align: center !important;
    vertical-align: 50% !important;
}

.align-bottom {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.align-left {
    text-align: left !important;
}

td, th {
    text-align: center !important;
    vertical-align: 50% !important;
}

.no-padding {
    padding: 0 !important;
}

.no-horizontal-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#filter {
    margin-bottom: 0;
}

textarea {
    resize: none;
}

input[type='file'] {
    visibility: hidden;
    position: absolute;
}