﻿.popup {
    position: absolute !important;
    display: inherit !important;
}

.overlay {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    display: inherit !important;
    background-color: black;
    opacity: 0.3;
}